{% extends "base.html" %}
{% block title %}
Strona Główna
{% endblock %}
{% block content %}
    <div class="text-center">
        <h2>To jest główna strona aplikacji Ceneo.pl Web Scraper.</h2>
    </br>
        <ul>
            <li>
                <h3>Cel aplikacji</h3>
            </li>
            <li>
                <h3>Opis działania aplikacji</h3>
            </li>
            <li>
                <h3>Zastosowane biblioteki</h3>
            </li>
            <li>
                <h3>Zastosowane podejścia</h3>
            </li>
        </ul>
        
    </div>
{% endblock %}